node_modules/
dist/
build/
.vscode/
*.code-workspace
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
*~
.DS_Store

.env
.env.local
.env.development
.env.test
.env.production
.git
.gitignore
.eslintrc.js
.prettierrc.js
jest.config.js
logs/
