<!DOCTYPE html>
<html>
  <head>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th,
      td {
        padding: 5px;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <h2>10/12/2023 10:01</h2>

    <table style="width: 100%">
      <tr>
        <td rowspan="2">
          <img src="/template/logo.jpg" alt="cer" width="50" height="50" />
        </td>
        <td colspan="2">Misión "San Diego - La Ensenada"</td>
      </tr>
      <tr>
        <td>Ficha</td>
        <td>[N° Ficha]</td>
      </tr>
      <tr>
        <td>Registro:</td>
        <td>[código]</td>
      </tr>
      <tr>
        <td>Estado:</td>
        <td>[código]</td>
      </tr>
    </table>

    <table>
      <tr>
        <td>Registro:</td>
        <td>[código]</td>
        <td>Paciente</td>
        <td>[Nombres y apellidos paciente]</td>
        <td>Edad:</td>
        <td>[edad]</td>
      </tr>
      <tr>
        <td>Dirección:</td>
        <td colspan="5">[Dirección]</td>
      </tr>
      <tr>
        <td>Referencia:</td>
        <td colspan="5">[Referencia]</td>
      </tr>
      <tr>
        <td>Distrito:</td>
        <td>[Distrito]</td>
        <td>Provincia:</td>
        <td>[Provincia]</td>
        <td>Departamento:</td>
        <td>[Departamento]</td>
      </tr>
      <tr>
        <td>DNI:</td>
        <td>[N° DNI]</td>
        <td>Fecha de nacimiento:</td>
        <td>[Fecha deacimiento]</td>
        <td>Teléfono 01:</td>
        <td>[N° telefono]</td>
      </tr>
      <tr>
        <td>Areas:</td>
        <td>[N° Ficha]</td>
        <td>Fecha:</td>
        <td>Area01/area02/area03<br />[Fecha y hora]</td>
        <td>Cert. médico:</td>
        <td>Si/No</td>
      </tr>
    </table>

    <p>
      Declaro a todos los efectos que estoy de acuerdo con todos los servicios
      en los que participaré y que autorizo el uso de mi imagen (en fotografía o
      video) en la publicidad del trabajo realizado por la entidad, sin carga
      alguna para ésta.
    </p>

    <table style="width: 100%">
      <tr>
        <td>Fecha:</td>
        <td>Nombre:</td>
        <td colspan="3">Firma:</td>
      </tr>
    </table>

    <h3>A completar por los profesionales:</h3>
    <table style="width: 100%">
      <tr>
        <td>Peso:</td>
        <td>Altura:</td>
        <td>P.A.:</td>
        <td>Temperatura:</td>
        <td>Horario:</td>
      </tr>
    </table>

    <h3>A completar por el responsable técnico:</h3>
    <table style="width: 100%">
      <tr>
        <td colspan="5">Observaciones/Reenvío</td>
      </tr>
      <tr>
        <td colspan="5">Procedimientos:</td>
      </tr>
    </table>

    <table style="width: 100%">
      <tr>
        <td>Res. Area 1</td>
        <td>Res. Area 2</td>
        <td>Res. Area 3</td>
      </tr>
      <tr>
        <td>Res. Area 4</td>
        <td>Res. Area 5</td>
        <td>Res. Area 6</td>
      </tr>
    </table>
  </body>
</html>
